.about-main {
  padding-top: 30px;
}
.textDiv {
  margin-top: auto;
  margin-bottom: auto;
}

.textDiv h3 {
  margin-left: 40%;
}

.about-mid {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-top: 2rem;
  margin-right: 15rem;
  gap: 2rem;
}
.details-container {
  padding: 1.5rem;
  /* flex: 0.5; */
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  width: 20rem;
  height: 10rem;
}

.about-right {
  width: 70rem;
}

.about-div {
  display: flex;
  justify-content: center;
}

.about-me-text {
  padding: 20px;
  width: 40rem;
}

.icon {
  cursor: pointer;
  height: 2rem;
}
