@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px; /* Width of the entire scrollbar */
}

/* Customize scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #27374d; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners of the thumb */
}

/* Customize scrollbar track on hover */
::-webkit-scrollbar-track:hover {
  background-color: #f1f1f1; /* Color of the scrollbar track on hover */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  transition: all 0.2s ease;
}
