/* NavBar Container */
.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1.25rem;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.navbar-scrolled {
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.role-animation {
    padding-top: 10px;
}
.navbar-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 100px;
  font-size: 16px;
}

/* Logo */
.navbar-logo {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

/* Nav Items */
.navbar-menu-icon {
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  list-style: none;
  padding: 0;
  margin: 0 0 0 44px;
}

.home-icons {
  color: #333;
}

.navbar-close-icon {
  font-size: 25px;
  cursor: pointer;
  position: relative;
  right: 0;
  top: 0.75rem;
  display: none;
}

.nav-item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  font-weight: bold;
}

.nav-link:hover {
  color: #f1c40f;
}

.nav-link-active {
  color: #f1c40f;
}

/* Hire Me Button */
.hire-button {
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

.hire-button:hover {
  color: #f1c40f;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar-menu-icon {
    display: block;
  }

  .nav-links {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    width: 78%;
    height: 100vh;
    background-color: #fff;
    transition: right 0.3s ease;
  }

  .navbar-close-icon {
    display: block;
  }

  .nav-links-closed {
    right: -100%;
  }

  .nav-links-open {
    right: 0;
  }
  .home-icons {
    height: 1.8rem;
    width: 1.8rem;
  }

  .navbar-content{
    padding-left: 0;
  }
}
